@import '@/styles/variables.scss';

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.titleBlock {
  flex: 1 1 300px;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}

.count {
  color: $accent-color;
  font-weight: bold;
}

.category {
  color: $primary-color;
  font-weight: 500;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
