.catalog {
  padding: 20px;

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .viewToggle {
    text-align: right;
    margin-bottom: 1rem;
    button {
      margin-left: .5rem;
      cursor: pointer;
    }
  }

  .productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 20px;
  }
  
  .productsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
